.header {
            position: absolute;
            z-index: 10;
            width: 100%;
            text-align: center;
        }
        
        .card {
            /*
            background-color: #ece9da;
            margin: 0 auto;
            max-width: 50%;
            border-radius: 0 0 120px / 0 0 6px 0;
            border: 1px solid #ece9da;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1)inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1)inset;
*/
        }
        
        .header h1 {
            font-size: 35pt;
            text-shadow: 0px 1px 1px #4d4d4d;
            /*            font-family: 'Niconne', cursive;*/
            padding: 10px;
            /*            color: #cd0a0c;*/
            content: "";
        }
        
        .header i {
            color: #ece9da;
            font-size: 15pt;
            text-shadow: 0px 1px 1px #4d4d4d;
        }
        /*defined height for the map*/
        
        html {
            background-color: '#000';
            height: 100%;
            width: 100%;
        }
        
        body {
            height: 100%;
            width: 100%;
            position: relative;
            padding: 0;
            margin: 0;
        }
        
        .container {
            height: 100%;
            width: 100%;
        }
        
        #myDiv.hidden {
            display: none;
        }
        
        #map {
            z-index: 0;
            height: 100%;
            width: 100%;
        }
        
        .leaflet-marker-icon {
            z-index: 3;
        }